kmeans:
  k: 5
  maxIter: 20
  seed: 21

data:
  data: "data/openfoodfacts-products.jsonl"
  columns: "configs/columns.json"
  size: 100000

spark:
  app_name: "clusteroff"
  deploy_mode: "local"
  driver_memory: "4g"
  executor_memory: "16g"
  executor_cores: 1
  driver_cores: 1

save_to: "models/clusteroff"